body{
    background-image: url(/Images/datfukinbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}
canvas{
    /* border: 1px solid red; */
    margin-left: 30%;
    margin-top: 5%;
}
#garden-game{
    background-image: url(/Images/garden-background-vector-4.jpeg);
    background-repeat: no-repeat;
}