body {
  background-image: url(/Images/datfukinbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
canvas {
  /* border: 1px solid red; */
  margin-left: 1%;
  margin-top: 1%;
}

#garden-game {
  background-image: url(/Images/frame-pic.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Buttons easy,medium,hard */

@mixin buttonBG($bg) {
  border: 2px solid $bg;
  color: $bg;
  &:hover {
    background-color: $bg;
    transition: all 0.3s ease-in-out;
  }
}
button {
  width: 180px;
  height: 80px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: 0.5s;
  font-size: 24px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
}
button:hover {
  background: green;
}
.medium:hover {
  background: orange;
}
.hard:hover {
  background: red;
}
/* button.appendChild {
  display: flex;
} */

/* end */

header {
  display: flex;
  justify-content: center;
  width: 100vw;
}
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.buttons {
  width: 30px;
}

/* Moving butons*/

.base-up {
  background: grey;
  display: inline-block;
  height: 50px;
  margin-left: 5px;
  margin-top: 55px;
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  transform: rotate(180deg);
  margin-left: 30px;
}
.base-up:before {
  border-bottom: 35px solid grey;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}
.base-down {
  background: grey;
  display: inline-block;
  height: 50px;
  margin-left: 5px;
  margin-top: 55px;
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.base-down:before {
  border-bottom: 35px solid grey;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}
.base-left {
  background: grey;
  display: inline-block;
  height: 50px;
  margin-left: -55px;
  margin-top: 55px;
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  transform: rotate(90deg);
  margin-right: 40px;
}
.base-left:before {
  border-bottom: 35px solid grey;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}
.base-right {
  background: grey;
  display: inline-block;
  height: 50px;
  margin-left: 5px;
  margin-top: 55px;
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  transform: rotate(-90deg);
  margin-left: 40px;
}

.base-right:before {
  border-bottom: 35px solid grey;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}
.up {
  transform: rotate(180deg);
  text-align: center;
}
.left {
  transform: rotate(-90deg);
  text-align: center;
}
.right {
  transform: rotate(90deg);
  text-align: center;
}
.down {
  text-align: center;
}
.middle-buttons {
  display: flex;
}

/* end of buttons */

.Timer {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}
#coins {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}

h1 {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: green;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}

#play {
  position: fixed;
  margin: auto;
  top: 200px;
  padding: 10px;
}
