body {
  background-image: url(/Images/datfukinbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
canvas {
  /* border: 1px solid red; */
  margin-left: 1%;
  margin-top: 1%;
}

#garden-game {
  background-image: url(/Images/frame-pic.jpeg); 
  background-repeat: no-repeat;
  background-size: cover;
}
button {
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: green;
  border: none;
  border-radius: 10%;
  display: list-item;
}
button:hover {
  background: yellow;
}
.Timer{
   justify-content: center;
   position:fixed;
   top: 125px;  
   left:750px;
}
